html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lavender;
    background-color: rgb(63,63,63);
    color-scheme: dark;
}

div.content {
    margin: auto;
    width: 50%;
    min-width: 300px;
    max-width: 1000px;
    padding: 40px;

    background-color: rgb(53,53,53);
    border: 1px solid lavender;
    box-shadow: 0px 0px 10px lavender, 0px 0px 20px black inset;
    border-radius: 10px;

}

a {
    color:cornflowerblue;
    text-decoration: none;
}

section {
    position: relative;
}

.logoBackground {
    background-image: url("../images/logo2.svg");
    background-repeat: no-repeat;
    background-size:contain;
    opacity: 10%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    height: 100%;
    max-width: 100%;
    aspect-ratio: 1 / 1;
}

input[type="text"], input[type="email"], textarea {
    background-color: rgb(33,33,33);
    color: lavender;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 0.5em;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    
    transition: border-color 0.1s ease-in-out;
    display: block;
}

.error {
    margin-bottom: 1em;
    display:block;
    width: calc-size(fit-content, size);
    background: rgb(66, 0, 0);
    
    border-radius: 0px 0px 4px 4px;
}

.error.active {
    padding: 0.3em 0.5em;
    border: 1px solid red;
}

form {
    background: rgb(43, 43, 43);
    padding: 1em;
    border: 1px solid grey;
    border-radius: 10px;
    
    box-shadow: grey 0px 0px 10px, black 0px 0px 10px inset;
}

input[type="text"]:hover, input[type="email"]:hover, textarea:hover {
    border-color: white;
}

input[type="text"]:user-invalid,
input[type="email"]:user-invalid,
textarea:user-invalid {
    /*border-color: darkred;*/
    box-shadow: 0px 0px 5px red inset;
}

textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 96%;
    min-width: 300px;
    min-height: 100px;
}

a:hover {
    color:deepskyblue;
    text-decoration: underline;
}

a:active {
    color:dodgerblue;
}

hr {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 50%;
    min-width: 220px;
    max-width: 500px;
    margin-top: 2em;
    margin-bottom: 2em;
}

header, h1, h2, h3, p, footer {
    text-align: center;
}

footer {
    color: lightslategray;
    margin-top: 3em;
}

.header-text {
    font-size: 3em;
    font-weight: bold;
}

.projectsDisplay {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: auto;
}

button:disabled, input[type="submit"]:disabled {
    color: grey !important;
    border-color: grey !important;
    background-color: rgb(43, 43, 43) !important;
    font-weight: normal !important;
    border-width: 1px !important;
    cursor:default !important;
}


.project {
    margin: 10px;
    padding: 10px;
    min-width: 250px;
    min-height: 250px;
    background-color: rgb(43, 43, 43);
    box-shadow: 0px 0px 10px gray, 0px 0px 10px black inset;
    border: 1px solid gray;
    border-radius: 10px;
    flex: 1;
    
    display: flex;
    flex-direction: column;
    
}

.extraDetails {
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    margin: 10px 0 !important;
    max-height: calc-size(fit-content, size);
}

.extraDetails.hidden {
    margin: 0;
    max-height: 0 !important;
    transition: all 0.5s ease-in-out;
}

button, input[type="submit"] {
    line-height: 1.5;
    background-color: rgb(43,43,43);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: lavender;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 3px 10px;
    cursor:pointer;
    
    display: block; /*Actually allow the buttons to be centered properly*/
    margin: 0 auto !important;
    
    transition: all 0.1s ease-out;
}

button:hover, input[type="submit"]:hover {
    font-weight: bold;
    background-color: rgb(63,63,63);
    border-width: 2px;
}

button:active {
    background-color: rgb(93, 93, 93);
}

button img {
    height: 20px;
    width: 30px;
    position: relative;
    top: 5px;
}

.header-text img {
    height: 48px;
}

.projectImage {
    flex: 1 1 150px; /*Actually let the project cards expand instead of shrinking the image to oblivion. I guess I didn't understand flex well enough until now.*/
    border-radius: 10px;
    object-fit: cover;
    display: block;
    max-width: 100%;
    /*max-height: 150px;*/
}

.projectImage.placeholder {
    background-color: rgb(33,33,33);
    background-image: url("../images/placeholder.svg");
    background-repeat: no-repeat;
    background-position: center;
}

@media(width < 600px) {
    div.content {
        width: 100%;
        margin: 0;
    }
    
}