html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lavender;
    background-color: rgb(63,63,63);
}

div.content {
    margin: auto;
    width: 50%;
    min-width: 300px;
    max-width: 1000px;
    padding: 40px;

    background-color: rgb(53,53,53);
    border: 1px solid lavender;
    box-shadow: 0px 0px 10px lavender, 0px 0px 20px black inset;
    border-radius: 10px;

}

a {
    color:cornflowerblue;
    text-decoration: none;
}

a:hover {
    color:deepskyblue;
    text-decoration: underline;
}

a:active {
    color:dodgerblue;
}

hr {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 50%;
    min-width: 220px;
    max-width: 500px;
    margin-top: 2em;
    margin-bottom: 2em;
}

header, h1, h2, h3, p, footer {
    text-align: center;
}

footer {
    color: lightslategray;
    margin-top: 3em;
}

.header-text {
    font-size: 3em;
    font-weight: bold;
}

.projectsDisplay {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.project {
    margin: 10px;
    padding: 10px;
    min-width: 250px;
    min-height: 250px;
    background-color: rgb(43, 43, 43);
    box-shadow: 0px 0px 10px gray, 0px 0px 10px black inset;
    border: 1px solid gray;
    border-radius: 10px;
    flex: 1;
    
    display: flex;
    flex-direction: column;
    
}

.showDetails {
    line-height: 1.5;
    background-color: rgb(43,43,43);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: lavender;
    border: 1px solid lavender;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0 auto !important;
}

.projectContent * {
    margin: 10px;
}

.projectImage {
    flex: 1;
    border-radius: 10px;
}

.projectImage.placeholder {
    background-color: rgb(33,33,33);
    background-image: url("../images/placeholder.svg");
    background-repeat: no-repeat;
    background-position: center;
}

@media(width < 600px) {
    div.content {
        width: 100%;
        margin: 0;
    }
}